---
import { Image } from "astro:assets";
import type Coffeeshop from "../interfaces/coffeeshop";
import defaultImage from "../img/default-espresso.jpg";

interface Props {
  coffeeshop: Coffeeshop;
  buttonText?: string;
}

const { coffeeshop, buttonText } = Astro.props;

// Function to get the image URL or default
function getImageUrl(coffeeshop: Coffeeshop) {
  const imageData = coffeeshop.attributes.images?.data?.[0];
  if (imageData) {
    // Use the full-size image URL
    const imageUrl = imageData.attributes.url;
    // Prepend the Strapi URL if it's a relative path
    return imageUrl.startsWith("http")
      ? imageUrl
      : `http://localhost:1337${imageUrl}`;
  }
  return defaultImage;
}

const imageUrl = getImageUrl(coffeeshop);
---

<div class="card glass w-96">
  <figure class="w-full">
    {
      imageUrl === defaultImage ? (
        <Image
          src={defaultImage}
          alt="Rich, satisfying espresso"
          width={400}
          height={300}
        />
      ) : (
        <img
          src={imageUrl.toString()}
          alt={
            coffeeshop.attributes.images?.data?.[0]?.attributes
              ?.alternativeText || coffeeshop.attributes.name
          }
          width="400"
          height="300"
        />
      )
    }
  </figure>
  <div class="card-body">
    <h2 class="card-title">{coffeeshop.attributes.name}</h2>
    <p>{coffeeshop.attributes.description}</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">{buttonText}</button>
    </div>
  </div>
</div>
